.statistics {
    width: 400px;

    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
    
    border-radius: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.title {
    margin-top: 0;
    margin-bottom: 30px;

    text-transform: uppercase;
    color: rgb(15, 136, 124);
}

.statList {
    display: flex;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px 5px;
    width: calc(100% / 5);
}

.item:not(:last-child) {
    border-right: 1px solid rgb(216, 213, 213);
}

.label {
    margin-bottom: 10px;
    font-size: 14px;
}

.percentage {
    font-size: 20px;
    font-weight: 700;
    color: rgb(19, 174, 159);
}